---
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Language:                                    Cpp
ColumnLimit:                                 120
IndentWidth:                                 2
InsertBraces:                                true
SeparateDefinitionBlocks:                    Always
AllowShortLoopsOnASingleLine:                false
AllowShortFunctionsOnASingleLine:            None
AllowShortIfStatementsOnASingleLine:         Never
...
